@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #90caf9;
  --bg: #020617;
  --text: #f8fafc;
}

body {
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}
